<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <script src="https://code.angularjs.org/1.4.8/angular.js" data-semver="1.4.8" data-require="angular.js@1.4.8"></script>
    <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.css" />

    <link href="./css/style.css" rel="stylesheet" />
    <script src="lib/jquery/src/jquery.js"></script>
    <script src="./js/episodeController.js"></script>

</head>
<body ng-controller="episodeController">

    <div class="header">
        <h1>Technology and Friends </h1>
    </div>

    <div class="row">

        <div class="col-md-9">

            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div ng-repeat="episode in episodes | orderBy:sortDirection+episodeSortOrder | limitTo: maxEpisodesDisplayed | filter: searchText" class="stripedrow">
                <h3>
                    
                        Episode {{episode.episodeNumber}}: 
                        {{episode.title}}
                    </h3>
                   
                    <div class="text-left">
                        {{episode.description}}
                    </div>
                <iframe width="640" height="360" frameborder="0" allowfullscreen="" ng-src="{{GetUrl(episode.videoUrl)}}"></iframe>

                    <div>
                        <i>
                            Recorded <span ng-show="episode.dateRecorded">{{episode.dateRecorded | date:'fullDate'}}</span> in {{episode.recordingLocation}}
                        </i>
                    </div>
                    <div>
                        <i>
                            Published: {{episode.publishDate | date:'fullDate'}}
                        </i>
                    </div>
                </div>s

            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-md-2 col-md-offset-1">
            <div>
                Search: <input type="text" ng-model="searchText">
            </div>
            <div>
                yearFilter={{yearFilter}}
            </div>
            <div>
                Year: <br>
                <select ng-model="yearFilter" ngChange="filterByYear">
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                </select>

            </div>
            <div>
                <div>
                    Order by:
                </div>
                <select ng-model="episodeSortOrder">
                    <option value="episodeNumber">Episode#</option>
                    <option value="title">Title</option>
                    <option value="dateRecorded">Date</option>
                </select>
                <div>
                    <input type="radio" name="AscDesc" value="+" ng-model="sortDirection" checked>Ascending
                    <br>
                    <input type="radio" name="AscDesc" value="-" ng-model="sortDirection">Descending
                </div>
            </div>
            <div>
                Maximum Episodes to display:
                <input type="text" ng-model="maxEpisodesDisplayed">
                {{sortDirection+episodeSortOrder}}
            </div>

        </div>

    </div>

    <div class="footer">
        <hr /> DATA: {{episodes}}
        <hr /> TOTAL EPISODES RETRIEVED: {{episodes.length}}

    </div>

</body>
</html>
